:root{
  --lightPink: #FFE6E6;
  --darkPink: #F2D1D1;
  --lightBlue: #DAEAF1;
  --darkBlue: #C6DCE4;
}

body {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.main-nav {
  display: flex;
  align-items: center;
  background: var(--darkPink);
  position: center;
}

.main-ul {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.main-logo {
  text-decoration-color: red;
}

.main-nav ul li {
  list-style: none;
}

.main-nav a {
  text-transform: uppercase;
}

.main-nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.upper-nav {
  background: var(--lightPink);
  padding: .2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-nav ul li {
  list-style: none;
}

.con-description {
  padding-top: 100px;
}

.description {
  padding-top: 20px;
}

.login-container {
  width: 50%;
  display: block;
  padding: 3rem;
  height: 55vh;
  border-radius: 5%;
  background-color: var(--lightPink);
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-container h2{
  text-align: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  display: block;
  background: url("../resources/carousel.jpg") no-repeat left center;
}

.banner  span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: black;
    font-family: "Lucida Handwriting, Lucida Console", serif;
    transform: translate(-50%, -50%);
}

.block-blue {
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
}

.block-blue p {
  padding: .4rem 0;
  margin: 0;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.index-info {
  padding: 1.5rem 3rem;
}

.index-info h1{
  font-size: 3rem;
}

.index-info p{
  font-size: 1.5rem;
}

footer {
  background-color: var(--lightBlue);
  padding-top: 1rem;
}

footer h4 {
  margin-bottom: 1rem;
}

.follow-icons {
  font-size: 1.5rem;
}

footer ul li {
  list-style: none;
}

.login-button {
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-title {
  text-transform: uppercase;
}

.psw {
  color: #888888;
}

.register-now:hover {
  text-decoration: underline;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}






