body {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.main-nav {
  display: flex;
  align-items: center;
  background: #b8b6b7;
  position: center;
}

.main-ul {
  justify-content: space-between;
}

.main-logo {
  text-decoration-color: red;
}

.main-nav ul li {
  list-style: none;
}

.main-nav a {
  text-transform: uppercase;
}

.main-nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background: #3f403f;
}

.upper-nav ul li {
  list-style: none;
}

.con-description {
  padding-top: 100px;
}

.description {
  padding-top: 20px;

}


