body {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background: bisque;
  margin-left: auto;
  margin-right: auto;
  padding: 10pt 10pt 10pt 15pt;
}

.main-nav ul li {
  list-style: none;
}


.main-nav a {
  text-transform: uppercase;
}

.main-nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

